# Allowlisting gitignore template for Python projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore

!*.R
!*.Rmd
!*.csv
!*.png
!*.org

!README.md
!COPYING

# !Makefile

# ...even if they are in subdirectories
!*/

.Rproj.user
